<template>
    <v-container>
        <div>
            <v-card elevation="2">
                <v-card-title>
                    Créer un token
                </v-card-title>
                <v-card-text>
                    <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                        id="myForm"
                    >

                        <v-text-field
                        v-model="name"
                        :rules="[v => !!v || 'Nom obligatoire']"
                        label="Nom"
                        required
                        ></v-text-field>

                        <v-text-field
                        v-model="location"
                        :rules="[v => !!v || 'Ville obligatoire']"
                        label="Ville"
                        required
                        ></v-text-field>

                        <v-text-field
                        v-model="description"
                        label="Description"
                        ></v-text-field>

                        <v-select
                        v-model="type"
                        :items="items"
                        :rules="[v => !!v || 'Type obligatoire']"
                        label="Type"
                        required
                        ></v-select>

                        <v-text-field
                        v-model="price"
                        :rules="[v => !!v || 'Prix obligatoire']"
                        label="Prix"
                        required
                        ></v-text-field>

                        <v-checkbox
                        v-model="sell"
                        label="Mettre en vente?"
                        ></v-checkbox>

                        <v-btn
                        :disabled="!valid"
                        color="success"
                        class="mr-4"
                        @click="validate"
                        >
                        Valider
                        </v-btn>
                    </v-form>
                </v-card-text>

            </v-card>
        </div>
            <v-dialog
            v-model="dialog"
            hide-overlay
            persistent
            width="300"
            >
            <v-card
                color="primary"
                dark
            >
                <v-card-text>
                Publication en cours
                <v-progress-linear
                    indeterminate
                    color="white"
                    class="mb-0"
                ></v-progress-linear>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="dialogError"
            width="500"
            >
                <v-card>
                    <v-card-title class="headline grey lighten-2">
                    Echec de la création
                    </v-card-title>

                    <v-card-text>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="dialogError = false"
                        to="/tokens"
                    >
                        Retour
                    </v-btn>
                    </v-card-actions>
                </v-card>
        </v-dialog>
        <v-dialog
            v-model="dialogSucces"
            width="500"
            >
                <v-card>
                    <v-card-title class="headline grey lighten-2">
                    Token créer avec succès
                    </v-card-title>

                    <v-card-text>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                        color="primary"
                        text
                        @click="dialogError = false"
                        to="/tokens"
                    >
                        Retour
                    </v-btn>
                    </v-card-actions>
                </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import Web3 from 'web3';

export default {
    name: 'createToken',
    data: () => ({
        name: null,
        location: null,
        description: "",
        type: null,
        owner: "failtoload",
        valid: true,
        tokens: null,
        sell: false,
        price: 0,
        items: [
            'Maison',
            'Appartement',
            'Parking',
        ],
        dialog: false,
        dialogError: false,
        dialogSucces: false

    }),
    methods: {
        async loadWeb3() {
            if (window.ethereum) {
                window.web3 = new Web3(window.ethereum);
                window.ethereum.enable();
            }
        },
        async load() {
            await this.loadWeb3();
        },
        async displayAddress() {
            var account = (await window.web3.eth.getAccounts())[0];
            this.owner = account;
        },
        async validate() {
            this.$refs.form.validate();
            if(this.valid){
                document.getElementById("myForm").hidden = true;
                this.dialog = true;
                try {
                    this.tokens = await window.contract.methods.createToken(this.name, this.description, this.location, this.type, this.price, this.sell).send({from: this.owner, value: 2500000000000000});
                    this.dialogSucces = true;
                } catch(e) {
                    this.dialogError = true;
                }
            }
        },
    },
    mounted() {
        this.load();
        this.displayAddress();
        this.$refs.form.validate();
    }
}
</script>

<style scoped>
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>