<template>
    <v-container class="grey lighten-2" fill-height fluid>
        <v-row>
            <v-col>
                <v-data-table
                    :headers="headers"
                    :items="tokens"
                    :items-per-page="10"
                    class="elevation-1"
                >
                    <template v-slot:item.owner="{ item }">
                        <p v-if="item.owner == account" class="green--text">{{item.owner}}</p>
                        <p v-else class="orange--text">{{item.owner}}</p>
                    </template>
                    <template v-slot:item.forSale="{ item }">
                        <v-simple-checkbox
                            v-model="item.forSale"
                            disabled
                            color="primary"
                        />
                    </template>
                    <template v-slot:item.actions="{ item }">
                        <v-icon
                            class="mr-2"
                            @click="showDialogBuy(item)"
                            color="green"
                            :disabled="!isMine(item.owner) || !item.forSale"
                        >
                            mdi-cash
                        </v-icon>
                        <v-icon
                            class="mr-2"
                            @click="showDialogSell(item)"
                            color="green"
                            :disabled="isMine(item.owner)"
                            v-if="!item.forSale"
                        >
                            mdi-basket-plus
                        </v-icon>
                        <v-icon
                            class="mr-2"
                            @click="showDialogSellRemove(item)"
                            color="red"
                            :disabled="isMine(item.owner)"
                            v-if="item.forSale"
                        >
                            mdi-basket-off
                        </v-icon>
                    </template>
                </v-data-table>
              <div></div>
            </v-col>
        </v-row>
        <v-dialog
            v-model="dialogBuy"
            width="500"
        >
            <v-card>
                <v-card-title class="headline lighten-2">
                    Acheter
                </v-card-title>

                <v-card-text v-if="loading">
                    Patienter
                    <v-progress-linear
                        indeterminate
                        color="blue"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
                <v-card-text v-else-if="success">
                    Vous avez bien acheté ce token !
                </v-card-text>
                <v-card-text v-else-if="error">
                    Une erreur s'est produite!
                </v-card-text>
                <v-card-text v-else>
                    Êtes-vous sur de vouloirs acheter ce bien ?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-btn
                        color="primary"
                        text
                        @click="buySelectedToken()"
                        v-if="!loading && !success && !error"
                    >
                        Valider
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                        v-else-if="success || error"
                        @click="$router.go()"
                    >
                        Retour
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="dialogSell"
            width="500"
        >
            <v-card>
                <v-card-title class="headline lighten-2">
                    Mettre en vente
                </v-card-title>

                <v-card-text v-if="loading">
                    Patienter
                    <v-progress-linear
                        indeterminate
                        color="blue"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
                <v-card-text v-else-if="success">
                    Ce token est maintenant en vente !
                </v-card-text>
                <v-card-text v-else-if="error">
                    Une erreur s'est produite!
                </v-card-text>
                <v-card-text v-else>
                    Êtes-vous sur de vouloirs mettre ce bien en vente ?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-btn
                        color="primary"
                        text
                        @click="sellSelectedToken()"
                        v-if="!loading && !success && !error"
                    >
                        Valider
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                        v-else-if="success || error"
                        @click="$router.go()"
                    >
                        Retour
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="dialogSellRemove"
            width="500"
        >
            <v-card>
                <v-card-title class="headline lighten-2">
                    Retirer de la vente
                </v-card-title>

                <v-card-text v-if="loading">
                    Patienter
                    <v-progress-linear
                        indeterminate
                        color="blue"
                        class="mb-0"
                    ></v-progress-linear>
                </v-card-text>
                <v-card-text v-else-if="success">
                    Ce token n'est désormais plus en vente !
                </v-card-text>
                <v-card-text v-else-if="error">
                    Une erreur s'est produite!
                </v-card-text>
                <v-card-text v-else>
                    Êtes-vous sur de vouloirs retirer ce bien de la vente ?
                </v-card-text>

                <v-divider></v-divider>

                <v-card-actions>
                    <v-btn
                        color="primary"
                        text
                        @click="removeSellSelectedToken()"
                        v-if="!loading && !success && !error"
                    >
                        Valider
                    </v-btn>
                    <v-btn
                        color="primary"
                        text
                        v-else-if="success || error"
                        @click="$router.go()"
                    >
                        Retour
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>

<script>
import Web3 from 'web3';

export default {
    name: 'ListTokens',
    data() {
        return {
            contract: null,
            tokens: [],
            headers: [
                {text: 'Name', value: 'name'},
                {text: 'Price', value: 'price'},
                {text: 'Owner', value: 'owner'},
                {text: 'Location', value: 'location'},
                {text: 'Description', value: 'description'},
                {text: 'En vente', value: 'forSale'},
                {text: 'Actions', value: 'actions', sortable: false},
            ],
            account: null,
            tokensIds: [],
            dialogBuy: false,
            dialogSell: false,
            dialogSellRemove: false,
            selectedToken: {},
            loading: false,
            success: false,
            error: false,
        };
    },
    methods: {
        async test() {
            this.account = (await window.web3.eth.getAccounts())[0];
            this.tokensIds = await window.contract.methods.getAllToken().call({from: this.account});
            this.tokensIds.map(async (id) => {
                const token = await this.getTokensDetails(id);
                this.tokens.push({
                    name: token.name,
                    price: token.price/1000000000000000000,
                    owner: token.owner,
                    location: token.location,
                    description: token.description,
                    forSale: token.forSale,
                    id: token.id,
                });
            });
        },
        async getTokensDetails(id) {
            return await window.contract.methods.getToken(id).call({from: this.account});
        },
        showDialogBuy(token) {
            this.selectedToken = token;
            this.dialogBuy = true;
        },
        isMine(owner) {
            return !(owner === this.account);
        },
        async buySelectedToken() {
            this.loading = true;
            try {
                await window.contract.methods.buyToken(this.selectedToken.id).send({from: this.account, value: this.selectedToken.price*1000000000000000000});
                this.success = true;
            } catch(e) {
                this.error = true;
            }
            this.loading = false;
        },
        showDialogSell(token) {
            this.selectedToken = token;
            this.dialogSell = true;
        },
        async sellSelectedToken() {
            this.loading = true;
            let price = parseInt(this.selectedToken.price)*1000000000000000000;
            try {
                await window.contract.methods.sellToken(this.selectedToken.id, price.toString()).send({from: this.account});
                this.success = true;
            } catch(e) {
                console.error(e);
                this.error = true;
            }
            this.loading = false;
        },
        showDialogSellRemove(token) {
            this.selectedToken = token;
            this.dialogSellRemove = true;
        },
        async removeSellSelectedToken() {
            this.loading = true;
            try {
                await window.contract.methods.removeToken(this.selectedToken.id).send({from: this.account});
                this.success = true;
            } catch(e) {
                console.error(e);
                this.error = true;
            }
            this.loading = false;
        },
        
    },
    mounted() {
        window.web3 = new Web3(window.ethereum);
        window.ethereum.enable();
        this.test();
    }
}
</script>
