<template>
    <v-container>
        <v-row>
            <v-col cols=6 offset="3">
                <v-card>
                    <v-card-subtitle>Commissions</v-card-subtitle>
                    <v-card-text v-if="!loading">
                        Montant des commissions cumulées: <b>{{this.withdraw}}</b> eth
                            <v-alert
                                class="ma-3"
                                border="top"
                                type="success"
                                v-if="success"
                            >
                                Commissions récupérées
                            </v-alert>
                            <v-alert
                                class="ma-3"
                                border="top"
                                type="error"
                                v-if="error"
                            >
                                Une erreur s'est produite
                            </v-alert>
                    </v-card-text>
                    <v-card-text v-else>
                        <v-spacer />
                        <v-progress-linear indeterminate />
                        <v-spacer />
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer />
                        <v-btn dark v-if="isOwner" @click="getCom()">
                            Récupérer les commissions
                        </v-btn>
                        <v-spacer />
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
import Web3 from 'web3';

export default {
    name: 'Withdraw',
    data() {
        return {
            withdraw: 0,
            contractOwner: "0x2Ec9e07495D320f4e440D629ade251268cB9fCA7",
            isOwner: false,
            loading: false,
            account: "",
            success: "",
            error: "",
        };
    },
    methods: {
        async getCom() {
            this.loading = true;
            try {
                await window.contract.methods.getContractWei().send({from: this.account});
                this.success = true;
                this.loading = false;
            } catch(e) {
                console.error(e);
                this.error = true;
                this.loading = false;
            }
            this.withdraw = await window.contract.methods.viewContractWei().call({from: this.account});
        },
    },
    async mounted() {
        window.web3 = new Web3(window.ethereum);
        window.ethereum.enable();
        this.account = (await window.web3.eth.getAccounts())[0];
        this.withdraw = await window.contract.methods.viewContractWei().call({from: this.account});
        this.withdraw = this.withdraw/1000000000000000000;
        this.isOwner = this.account == this.contractOwner;
    },
}
</script>