<template>
  <div>
    <section>
      <v-parallax :src="require('@/assets/img/image1.jpg')">
        <v-layout column align-center justify-center class="white--text">
          <h1
            class="white--text mb-2 display-1 text-xs-center"
            style="font-weight: 900; text-shadow: 3px 2px #000000"
          >
            Crypt'IMMO
          </h1>
          <div
            class="white--text subheading mb-3 text-xs-center"
            style="font-weight: 900; text-shadow: 2px 2px #000000"
          >
            Un moyen d'acheter et vendre vos biens par le biais de la block
            chain
          </div>
        </v-layout>
      </v-parallax>
    </section>
    <section>
      <v-layout column wrap class="my-5" align-center>
        <v-flex xs12>
          <v-container grid-list-xl>
            <v-layout row wrap align-center>
              <v-flex xs12 md4 lg4>
                <v-card class="elevation-0 transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Achetez !</div>
                  </v-card-title>
                  <v-card-text>
                    Un bien vous a tapper dans l'oeil ? alors n'attendez plus et rejoignez-nous !
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4 lg4>
                <v-card class="elevation-0 transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Vendez !</div>
                  </v-card-title>
                  <v-card-text>
                    Fini le processus de vente classique et les agences, le futur c'est maintenant ! 
                  </v-card-text>
                </v-card>
              </v-flex>
              <v-flex xs12 md4 lg4>
                <v-card class="elevation-0 transparent">
                  <v-card-title primary-title class="layout justify-center">
                    <div class="headline text-xs-center">Découvrez !</div>
                  </v-card-title>
                  <v-card-text>
                    Parcourez les très nombreuses offres disponibles sur notre plateforme !
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </section>
    <section>
      <v-container grid-list-xl>
        <v-layout row wrap justify-center class="my-5">
          <v-flex xs12 sm4>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">Sécurité</div>
              </v-card-title>
              <v-card-text>
                Bénéficier de tous les avantages liés à l'utilisation de la blockChain.
              </v-card-text>
            </v-card>
          </v-flex>
          <v-flex xs12 sm4 offset-sm1>
            <v-card class="elevation-0 transparent">
              <v-card-title primary-title class="layout justify-center">
                <div class="headline">Communauté</div>
              </v-card-title>
              <v-card-text>
                Rejoignez-nous sur les réseaux sociaux et échangez avec nos nombreux utilisateurs !
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </section>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",

  data: () => ({}),
};
</script>

<style scoped>
.finedTitle {
  font-weight: 900;
  text-shadow: 2px 2px #000000;
}
