<template>
  <v-app id="inspire">
    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Crypt'IMMO</v-toolbar-title>
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" fixed temporary>
      <v-list dense nav>
        <div v-for="item in items" :key="item.title">
          <v-list-item link :to="item.path">
            <v-list-item-icon>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content :to="item.path">
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
        <v-list-item link to="/withdraw" v-if="this.isOwner">
          <v-list-item-icon>
            <v-icon>mdi-cash-100</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>Withdraw</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="js">
import Web3 from 'web3';

export default {
  name: 'App',

  data: () => ({
    status: "",
    address: "",
    contract: "",
    drawer: null,
    items: [
      { title: 'Home', icon: 'mdi-home', path: '/' },
      { title: 'Ajouter contrat', icon: 'mdi-wallet-plus', path: '/create' },
      { title: 'Tout les contrats', icon: 'mdi-clipboard-list', path: '/tokens' },
    ],
    contractOwner: "0x2Ec9e07495D320f4e440D629ade251268cB9fCA7",
    isOwner: false,
  }),
  
  methods: {
    async loadWeb3() {
      if (window.ethereum) {
          window.web3 = new Web3(window.ethereum);
          window.ethereum.enable();
      }
    },
    async load() {
      await this.loadWeb3();
      this.updateStatus('Ready!');
    },
    updateStatus(status) {
        this.status = status;
    },
    async displayAddress() {
      var account = (await window.web3.eth.getAccounts())[0];
      this.address = account;
      this.isOwner = this.address == this.contractOwner;
    },
    async loadContract() {
      var ABI = [{"inputs":[],"stateMutability":"payable","type":"constructor"},{"inputs":[{"internalType":"uint256","name":"id","type":"uint256"}],"name":"buyToken","outputs":[{"components":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"internalType":"struct FiveBLOC.Token","name":"","type":"tuple"}],"stateMutability":"payable","type":"function"},{"inputs":[{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"name":"createToken","outputs":[{"components":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"internalType":"struct FiveBLOC.Token","name":"","type":"tuple"}],"stateMutability":"payable","type":"function"},{"inputs":[],"name":"getAllToken","outputs":[{"internalType":"uint256[]","name":"","type":"uint256[]"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"getContractWei","outputs":[],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint256","name":"id","type":"uint256"}],"name":"getToken","outputs":[{"components":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"internalType":"struct FiveBLOC.Token","name":"","type":"tuple"}],"stateMutability":"view","type":"function"},{"inputs":[{"internalType":"uint256","name":"id","type":"uint256"}],"name":"removeToken","outputs":[{"components":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"internalType":"struct FiveBLOC.Token","name":"","type":"tuple"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"uint256","name":"price","type":"uint256"}],"name":"sellToken","outputs":[{"components":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"internalType":"struct FiveBLOC.Token","name":"","type":"tuple"}],"stateMutability":"nonpayable","type":"function"},{"inputs":[{"internalType":"uint256","name":"","type":"uint256"}],"name":"tokens","outputs":[{"internalType":"uint256","name":"id","type":"uint256"},{"internalType":"string","name":"name","type":"string"},{"internalType":"string","name":"description","type":"string"},{"internalType":"string","name":"location","type":"string"},{"internalType":"string","name":"estate_type","type":"string"},{"internalType":"address payable","name":"owner","type":"address"},{"internalType":"uint256","name":"price","type":"uint256"},{"internalType":"bool","name":"forSale","type":"bool"}],"stateMutability":"view","type":"function"},{"inputs":[],"name":"viewContractWei","outputs":[{"internalType":"uint256","name":"","type":"uint256"}],"stateMutability":"view","type":"function"}];
      var contractAddress = "0x6930A78bc11428cb0A0186B92130A0DeFB429358";
      window.contract = await new window.web3.eth.Contract(ABI, contractAddress)
      return window.contract;
    },
  },
  mounted() {
    this.load();
    this.displayAddress();
    this.contrat = this.loadContract();
  }
};
</script>




